.container-fluid{
    background-color:antiquewhite;
}

.button-container{
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
}
.button-container button{
    margin-right: 10px;
    padding: 10px 15px;
    outline: none;
    border: 1px solid red;
    color: red;
    background: #fff;
}
.button-container button a {
    text-decoration: none;
    color: red;
}

.button-container button:hover {
    background: red !important;
    color: #fff !important;
}

.button-container button a:hover {
    color: #fff !important;
}
.container-fluid .link a{
 text-decoration: none;
}
